.display-outter  {
    background-color: #000;  
    display: inline-block;
}

.display {
    position: relative;
    width: 26px;
    height: 52px;
    float: left;
    margin: .5rem .25rem; 
    overflow: hidden;
}

.display-pipe {
    position: absolute;
    background-color: #fff;
    border-radius: .3rem;
}

.display-pipe-1 {
    width: 100%;
    height: 8px;
}

.display-pipe-2 {
    width: 8px;
    height: calc(50% + 4px);
}

.display-pipe-3 {
    width: 8px;
    height: calc(50% + 4px);
    right: 0;
}

.display-pipe-4 {
    width: 100%;
    height: 8px;
    top: calc(50% - 4px);
}

.display-pipe-5 {
    width: 8px;
    height: calc(50% + 4px);
    top: calc(50% - 4px);
}

.display-pipe-6 {
    width: 8px;
    height: calc(50% + 4px);
    top: calc(50% - 4px);
    right: 0;
}

.display-pipe-7 {
    width: 100%;
    height: 8px;
    top: calc(100% - 8px);
}

.display-pipe-8 {
    width: 8px;
    height: 100%;
    left: calc(50% - 4px);
}

.display-pipe-9 {
    width: 8px;
    height: 105%;
    left: 0;
    transform-origin: top;
    transform: rotate(-21deg);
}

.display-pipe-10 {
    width: 8px;
    height: 105%;
    right: 0;
    transform-origin: top;
    transform: rotate(21deg);
}


.display-pipe-11 {
    width: 100%;
    height: 8px;
    top: 10px;
}

.display-pipe-12 {
    width: 8px;
    height: 60%;
    right: 0;
    top: 0;
    transform-origin: top;
    transform: rotate(22deg);
}

.display-pipe-13 {
    width: 8px;
    height: 60%;
    right: 0;
    bottom: 0;
    transform-origin: bottom;
    transform: rotate(-22deg);   
}


.display-pipe-14 {
    width: 100%;
    height: 8px;
    bottom: 10px;
}

.display-pipe-15 {
    width: 8px;
    height: 102%;
    left: 0;
    transform-origin: top;
    transform: rotate(-10deg);
}

.display-pipe-16 {
    width: 8px;
    height: 102%;
    right: 0;
    transform-origin: top;
    transform: rotate(10deg);
}

.display-pipe-17 {
    width: 8px;
    height: 60%;
    left: 0;
    transform-origin: top;
    transform: rotate(-15deg);
}
